.title {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;

}

.lead {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;

}

#jumbo {
    background-image: url("https://cdn.shopify.com/s/files/1/0337/7469/products/forest-tree-line-wall-mural_1000x.png?v=1546447461");
    margin-top: 20px;
    height: 350px
}

